@use "abstracts" as *;
@use "base" as *;
@use "components" as *;
@use "layout" as *;
@use "pages" as *;
@use "themes" as *;
@use "vendors" as *;
$sidebar-width: 250px;
$sidebar-bg-color: #4c4444;
$sidebar-text-color: #fff;
body {
  font-family: Poppins;
}
.sidebar {
  width: $sidebar-width;
  background-color: $sidebar-bg-color;
  color: $sidebar-text-color;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  overflow-x: hidden;
  padding-top: 20px;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    a {
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      background-color: #555;
    }
  }
}

.sidebar.active {
  left: 0;
}

.content {
  margin-left: $sidebar-width;
  padding: 16px;
}

.card {
  border: solid 2px;
  text-align: center;
  margin-top: 16px;
  padding: 16px;
  width: 320px;
  font-size: 10px;
  background-color: #cbb3c5;
  border-radius: 10px;
  border: none;

  img {
    width: 240px;
    height: 240px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 10px;
  }
}
.table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  background-color: #99b1b9;
}
.head {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1216px;
  background-color: #555;

  button {
    margin-left: 12px;
  }
  h1 {
    padding-right: 12px;
    color: #fff;
  }
}
main {
  padding-top: 48px;
  .input1 {
    text-align: center;
  }
}
.item {
  display: flex;
}

